body{
    background-image: url(../images/background_sm.svg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.commentBlock{
    max-width: 70%;
    text-align: center;
    margin-left: 10%;
    margin-top: 25%;
}
.comment{
    font-weight: bold;
    font-size: 12px;
}

.btn-xlarge {
    padding: 18px 28px;
    font-size: 45px;
    line-height: normal;
    margin: 20px 20px 20px 20px;
    -webkit-border-radius: 8px;
       -moz-border-radius: 8px;
            border-radius: 8px;
}

@media (min-width: 768px) {
    .commentBlock{
        max-width: 70%;
        text-align: center;
        margin-left: 10%;
        margin-top: 35%;
    }
    .comment{
        font-weight: bold;
        font-size: 30px;
    }
}


@media (min-width: 992px) {
    body{
        background-image: url(../images/background.svg);
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
    }
    .commentBlock{
        max-width: 60%;
        text-align: center;
        margin-left: 25%;
        margin-top: 15%;
    }
    .comment{
        font-weight: bold;
        font-size: 30px;
    }
    .btn-xlarge {
        padding: 18px 28px;
        font-size: 25px;
        line-height: normal;
        margin: 20px 20px 20px 20px;
        -webkit-border-radius: 8px;
           -moz-border-radius: 8px;
                border-radius: 8px;
    }
}
