body{
    background-image: url(../images/background.svg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: contain;
}

@media only screen and (min-width : 0px) and (max-width : 320px) {
    body{
        background-image: url(../images/background_sm.png);
    }
    #commentBlock{
        max-width: 60%;
        text-align: center;
        margin-left: 10%;
        margin-top: 20%;
    }
    #comment{
        font-weight: bold;
        font-size: 12px;
    }
}

@media only screen and (min-width : 321px) and (max-width : 480px) {
    body{
        background-image: url(../images/background_sm.png);
    }
    #commentBlock{
        max-width: 65%;
        text-align: center;
        margin-left: 15%;
        margin-top: 25%;
    }
    #comment{
        font-weight: bold;
        font-size: 12px;
    }
}

@media only screen and (min-width : 481px) and (max-width : 768px) {
    body{
        background-image: url(../images/background_sm.svg);
    }
    #commentBlock{
        max-width: 50%;
        text-align: center;
        margin-left: 10%;
        margin-top: 20%;
    }
    #comment{
        font-weight: bold;
        font-size: 16px;
    }
}

@media only screen and (min-width : 769px) and (max-width : 992px) {
    #commentBlock{
        max-width: 50%;
        text-align: center;
        margin-left: 30%;
        margin-top: 10%;
    }
    #comment{
        font-weight: bold;
        font-size: 18px;
    }
}

@media only screen and (min-width : 993px) {
    #commentBlock{
        max-width: 60%;
        text-align: center;
        margin-left: 25%;
        margin-top: 10%;
    }
    #comment{
        font-weight: bold;
        font-size: 20px;
    }
}

@media only screen and (min-width : 1200px) {
    #commentBlock{
        max-width: 40%;
        text-align: center;
        margin-left: 25%;
        margin-top: 7%;
    }
    #comment{
        font-weight: bold;
        font-size: 20px;
    }
}