<!DOCTYPE html>
<html>
<head>
  <title>Be The Boss</title>
  <meta name="description" content="{{ site.description }}">
  <meta name="author" content="{{ site.author.name }}">

  <link rel="shortcut icon" href="{{ "/resources/images/favicon.ico" | prepend: site.baseurl }}">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"/>
  <link rel="stylesheet" href="{{ "/resources/css/layout.css" | prepend: site.baseurl }}">
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js" type="application/javascript"></script>
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 commentBlock" >
              <span id="comment" class="comment"></span>
          </div>
        </div>
    </div>
    <div class="footer navbar-fixed-bottom">
      <button id="new-quote" class="btn btn-xlarge btn-info pull-right">New Quote</button>
    </div>
    <div class="footer navbar-fixed-bottom">
        <h4><i class="fa fa-github" aria-hidden="true"></i><a href="https://github.com/sineadmcl13"> smclaughlin</a></h4>
    </div>

  <script>
    $( document ).ready(function() {
        var quoteArray = new Array;
        $.get('{{ "/resources/comments.txt" | prepend: site.baseurl }}', function(data){
            quoteArray = data.split('\n');
            var quote = quoteArray[Math.floor(Math.random()*quoteArray.length)];
            $('#comment').text(quote);
        });
        
        $('#new-quote').click(function(){
            var quote = quoteArray[Math.floor(Math.random()*quoteArray.length)];
            $('#comment').text(quote);
        })
        
    });
  </script>
</body>
</html>
